.local-div h6 {
  text-align: center;
}
.btn-local {
  margin-top: 10px;
  margin-left: 45%;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: rgb(201, 59, 89);
  border-style: none;
}
.btn-local:hover {
  background-color: brown;
}
